In [21]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

### task1

In [3]:
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()

In [7]:
data = boston["data"]

In [8]:
feature_names = boston["feature_names"]
target = boston["target"]

In [9]:
X = pd.DataFrame(data, columns=feature_names)

In [10]:
y = pd.DataFrame(target, columns=["price"])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(X_test)

In [17]:
y_pred.shape

(152, 1)

In [18]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [19]:
from sklearn.metrics import r2_score
r2=r2_score(check_test["y_pred"], check_test["y_test"])
r2

0.669370269149561

### task2

In [22]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [23]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [24]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [25]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [26]:
r2=r2_score(check_test["y_pred"], check_test["y_test"])
r2

0.8479049999699443

In [27]:
#модель RandomForestRegressor работает лучше, чем модель LinearRegression

### task3

In [28]:
?RandomForestRegressor

In [29]:
print(model.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [30]:
model.feature_importances_.sum()

1.0

In [31]:
attr1=model.feature_importances_.argmax()
attr1

12

In [32]:
attr2=0
max_value=model.feature_importances_[attr2]
for i in range(model.n_features_):
    if max_value<model.feature_importances_[i] and i!=attr1:
        max_value=model.feature_importances_[i]
        attr2=i
print(attr2)

5